:root {
  --black-blue: #04141c;
  --darck-blue: #001e2b;
  --white: #ffffff;
  --info: #016bf8;
  --info-hover: #00357b;
  --light: #828282;
  --neutral: #575757;
  --error: #db3030;
  --error-hover: #9d1919;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'lexend', sans-serif;
}

button {
  cursor: pointer;
}
