.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-blue);
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 32px;
  background-color: var(--darck-blue);
  width: 377px;
  border-radius: 7px;
}

.content h1 {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 40px;
}

.content p {
  color: var(--white);
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  width: 213px;
} 

